.signUpBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  padding: 2rem;
  background-color: #f5f6fa;
  border-radius: 1rem;
  border: 1px solid #192a56;
  position: absolute;
  z-index: 200;
}

.clear {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #192a56;
  font-size: 1.5rem;
  cursor: pointer;
}

.signUpBox span {
  color: #192a56;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 0.05em;
  text-align: center;
}

.signUpForm {
  margin: 0;
}

.signUpBox input {
  width: 100%;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #192a56;
  margin-bottom: 2rem;
}

.submit {
  padding: 1.5rem;
  width: 100%;
  border-radius: 8px;
  color: #f5f6fa;
  background-color: #0097e6;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 150ms ease-in;
}

.submit:hover {
  opacity: 0.8;
}
